
  .displayhidden {
    visibility: visible; /* Set visibility to visible to make the element initially visible */
    opacity: 0; /* Start with opacity at 0 */
    transition: opacity 1s ease-in-out; /* Add transition for opacity with ease-in-out timing function */
  }
  
  .displayunhide {
    visibility: visible;
    opacity: 1; /* Fade in with full opacity */
    transition: opacity 1s ease-in-out; /* Add transition for opacity with ease-in-out timing function */
  }
  
  
  .display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #ffffff;
    border: 1px solid blue;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 999;
    filter: blur(0);
  }
  
